<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="default" value="Server=e59be538-2d3a-4631-93f0-a342006de5af.sqlserver.sequelizer.com;Database=dbe59be5382d3a463193f0a342006de5af;User ID=jpfrazeizswqzghd;Password=uYXug4F4m8p3GeBgdNqG8d8VDmLFNZfHSpxNRtQAerEbQrUZrUHq7SiqZcY3q8pt;"/>
  </appSettings>
</configuration>
